.auth {
	@include layout(2, 1fr, 2rem);
	width: 100vw;
	height: 100vh;
	padding: 1.5rem;
	overflow-x: hidden;
	overflow-y: auto;
}

.wrapper {
	align-self: center;

	&:first-child {
		justify-self: center;
	}

	&:last-child {
		justify-self: left;
	}
}

.caprion {
	font-size: 5rem;
	font-weight: 300;
	text-align: center;
	color: $primary-color;
}

.description {
	width: 100%;
	max-width: 60rem;
	font-size: 2.5rem;
	font-weight: 300;
	text-align: center;
	padding-top: 1rem;
	color: $primary-color;
}

.route {
	font-size: 1.8rem;
	text-align: center;
	padding-top: 2rem;
	color: $primary-color;

	&Link {
		display: block;
		font-size: 2rem;
		font-weight: bold;
		color: $link-color;
		text-decoration: none;
		transition: color $primary-transition;

		&:hover,
		&:focus {
			color: rgba($link-color, 0.5);
		}
	}
}
