//Fonts
$reserveFonts: sans-serif;
$fontPrimary: 'OpenSans', $reserveFonts;

//Colors
$mainColor: #000000;

// Backgrounds
$mainBg: #ffffff;

// Transition
$mainTransition: 0.3s;

// Sizes
$headerHeight: 5rem;
$footerHeight: 5rem;
$maxWidth: 144rem;

// Media query
$mobileWidth: 500px;
$tabletWidth: 768px;
$desktopWidth: 1200px;
