.form {
	min-width: 50rem;
	padding: 3.6rem;
	background-color: $form-bg;
	box-shadow: 0 0 2.5rem rgba($form-color, 0.3);
	border-radius: 0.5rem;
}

.title {
	font-weight: bold;
	text-align: center;
}

.submit {
	display: block;
	margin: 2rem auto 0;
}

.button {
	min-height: 4rem;
}
