.header
	&__inner
		padding 2rem
	&__link
		font-weight 300
		text-decoration none
		color $mainColor
		transition all $mainTransition ease
		margin-right 15px
		&:last-child 
			margin-right 0
		&:hover
			color rgba($mainColor, .5)
